<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  Before Me
</h3>>

<div id="carousel-example-generic" style="background-color: white; background-image: url('https://www.dropbox.com/s/7hqpwuh4hnczxz5/89809b15daf9.png?dl=1'); background-size: 100% 100%;margin-top: 15px;" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c628729/v628729243/322d5/-rHwmL6Sf0A.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c628729/v628729758/49deb/0GzJil0sb7E.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c628729/v628729243/322cc/s75DnBF6r9I.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c628729/v628729243/322c3/7DXWFyeyWXw.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c628729/v628729243/322dd/aWBs-2NWpZ8.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c630619/v630619271/101b9/oG-qck_3RXA.jpg">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="sr-only">Next</span>
  </a>
</div>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:how_begin) %>
</h3>

<h2 class="text-colorized" style="font-size: 31px; text-align: center;">
 <%= t(:dream_team) %>
</h2>

<p class="margined">
  <%= t(:begin_with_search) %>
</p>

<p class="margined">
  <%= t(:be_interested) %><i style="text-decoration: line-through;"> <%= t(:s_shake_hand) %></i>
</p>

<p class="margined">
  <%= t(:miss_oport) %>
</p>

<p class="margined">
  <%= t(:but_disaster) %>
</p>

<p class="margined">
  <%= t(:tow_leave) %>
</p>

<p class="margined">
  <%= t(:fr_leave) %> <i style="text-decoration: line-through;"><%= t(:surrended) %></i> <%= t(:surronded) %>
</p>

<h2 class="text-colorized" style="font-size: 31px; text-align: center;">
  <%= t(:ch2) %> Echeneidae
</h2>

<p class="margined">
    <%= t(:crit_moments) %>
</p>

<p class="margined">
  <%= t(:old_g) %>
</p>

<p class="margined">
    <%= t(:aft_ideas) %>
</p>

<h2 class="text-colorized" style="font-size: 31px; text-align: center;">
  <%= t(:ch_3_b) %>
</h2>

<p class="margined">
  <%= t(:ive_seen) %>
</p>

<p class="margined">
  <%= t(:deside_sides) %>
</p>

<p class="margined">
  <%= t(:tired_of_reading) %>
</p>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:trailer) %>
</h3>

<iframe width="640" height="420" style="display: block;margin-left: auto; margin-right: auto;"
        src="https://www.youtube.com/embed/GVgg_3Hs9Nk">
</iframe>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:plot_sence_me) %>
</h3>

<p class="margined">
  <%= t(:we_p_soul) %>
</p>

<p class="margined">
  <%= t(:aft_met_s) %>
</p>

<div style="display: inline-block">
  <figure class="r right">
    <img class="rounded" style="width: 200px; height: 150px;" src="https://pp.vk.me/c628729/v628729758/49deb/0GzJil0sb7E.jpg">
  </figure>
  <br/>
  <p class="margined">
    <%= t(:as_ex_s) %>
  </p>
  <p class="margined">
    <%= t(:our_m_s) %>
  </p>
</div>

<p class="margined">
  <%= t(:first_m_s) %>
</p>

<p class="margined">
    <%= t(:seven_s_l) %>
</p>

<p class="margined">
    <%= t(:lose_s_q) %>
</p>

<p class="margined">
  <%= t(:win_best_g) %>
</p>

<p class="margined">
    <%= t(:proud_s) %>
</p>

<p class="margined">

</p>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:interesting_facts) %>
</h3>
<ul>
  <li>
    <%= t(:nn_f_s) %>
  </li>
  <li>
    <%= t(:end_f_s) %>
  </li>
  <li>
    <%= t(:table_f_s) %>
  </li>
  <li>
    <%= t(:levels_f_s) %>
  </li>
  <li>
    <%= t(:puzles_f_s) %>
  </li>
  <li>
    <%= t(:diary_f_s) %>
  </li>
  <li>
    <%= t(:diary_f_r_s) %>
  </li>
</ul>

<a style="margin-left: 15px;" href="http://globalgamejam.org/2016/games/me"><%= t(:jam_link) %></a>
<br/>
