<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  Neh tournament
</h3>

<div id="carousel-example-generic" style="background-color: white; background-image: url('https://www.dropbox.com/s/7hqpwuh4hnczxz5/89809b15daf9.png?dl=1'); background-size: 100% 100%;margin-top: 15px;" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6a2/h4ZqdMUefXk.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c624316/v624316243/5cf99/aaoxpbNGdrc.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c624316/v624316243/5cfa2/uemEViY47i0.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6bb/dv3olYQxCOc.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c624316/v624316243/5cf92/cLI6P1XEWMg.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6ac/X2Vnmngev2E.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6b3/l9pC5DxYORA.jpg">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="sr-only">Next</span>
  </a>
</div>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:description) %>
</h3>

<p class="margined">
  <%= t(:first_project) %>
</p>
<p class="margined">
  <%= t(:net_pull) %>
</p>

<p class="margined">
  <%= t(:comand_shoter) %>
</p>

<p class="margined">
  <%= t(:player_control) %>
</p>

<p class="margined">
  <%= t(:game_aim) %>
</p>
<p class="margined">
    <%= t(:weather) %>
</p>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:gameplay) %>
</h3>

<iframe width="640" height="420" style="display: block;margin-left: auto; margin-right: auto;"
        src="https://www.youtube.com/embed/FnAvhzMCbqQ">
</iframe>

<p class="margined">
  <%= t(:lone_gameplay) %>
</p>

<br/>

<img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.smashingmagazine.com/images/hr-images-yes/Nour_Malaeb_Equalizer.png" alt="hr-line" width="300" height="20">

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  UpStge
</h3>

<div id="carousel-example-generic1" style="background-color: white; background-image: url('https://www.dropbox.com/s/7hqpwuh4hnczxz5/89809b15daf9.png?dl=1'); background-size: 100% 100%;margin-top: 15px;" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6e1/xQNQ20PnS3A.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6ea/T88FScKM5-U.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6f3/GKwQVItfL2w.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c6fc/G8K48oVsdd4.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c705/HGjEjCylk1o.jpg">
    </div>
    <div class="item">
      <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631327/v631327243/c70e/97coatEr1uo.jpg">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">

    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">

    <span class="sr-only">Next</span>
  </a>
</div>

<br/>
<p class="margined">
  <%= t(:upstge_web) %>
</p>
<p class="margined">
  <%= t(:upstge_adv) %>
</p>
<p class="margined">
  <%= t(:upstge_dev) %>
</p>
<br/>