<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:ab_m) %>
</h3>

<p class="margined">
  <%= t(:me_full) %>
</p>

<p class="margined">
  <%= t(:military) %>
</p>

<p class="margined">
  <%= t(:pluses) %>
</p>


<div style="margin: 10px 10px">
  <div style="float: left; width: 50%; background-color: black; min-height: 350px;">
    <ul class="li_plus" style="margin-top: 40px; font-size: 20px;">
      <p style="text-decoration: underline; text-align: center;" class="li_plus"><%= t(:plus) %>:</p>
      <li>
        <%= t(:responsible) %>
      </li>
      <li>
        <%= t(:aim_targered) %>
      </li>
      <li>
        <%= t(:sence_of_h) %>
      </li>
      <li>
        <%= t(:studable) %>
      </li>
      <li>
        <%= t(:talkative) %>
      </li>
    </ul>
  </div>
  <div style="float: right; width: 50%; background-color: white; min-height: 350px;">
    <ul class="li_minus" style="margin-top: 40px; font-size: 20px;">
      <p style="text-decoration: underline; text-align: center;" class="li_minus"><%= t(:minus) %>:</p>
      <li>
        <%= t(:flagenation) %>
      </li>
      <li>
        <%= t(:over_taken) %>
      </li>
      <li>
        <%= t(:sence_of_h) %>
      </li>
      <li>
        <%= t(:lisp) %>
      </li>
      <li>
        <%= t(:onest) %>
      </li>
    </ul>
  </div>
</div>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
   <%= t(:questions_and_answers) %>
</h3>
<p class="margined" style="margin-top: 10px;">
    <%= t(:saving) %>
</p>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Сколько лет ты программируешь?
</h4>

<p class="margined">
  Программировать я начал, как поступил в вуз. Поэтому выходит порядком пяти лет. Но разве это имеет значение? Ведь программировать действительно
 рабочие, коллективные проекты я начал чуть больше полугода назад.
</p>
<br/>

<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Твоё хобби?
</h4>

<p class="margined">
  Писать игры. Заниматься монтажом видео. Иногда смотреть фильмы, и играть во всякие инди поделки.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Чем ты сейчас занимаешься?
</h4>

<p class="margined">
  <i style="text-decoration: line-through">Верстаю страницу</i> Сейчас, помимо поиска работы, я пишу дипломный проект. Он получился достаточно
  большой, и я в дальнейшем возлагаю на него немалые надежды.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Есть ли у тебя проекты, не показанные на этом сайте?
</h4>

<p class="margined">
  Да, но я не хочу демонстрировать их, так как они являются интеллектуальной собственностью, которую я не хотел бы разглашать третьим лицам.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Как ты можешь доказать, что проекты принадлежат тебе?
</h4>

<p class="margined">
  У меня есть исходники. Всего, кроме UpStge. Потому как тот является корпоративным проектом.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Какие планы на ближайшее будущее?
</h4>

<p class="margined">
  Закончить диплом, найти работу на весь день.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Почему гейм разработчик? Ты же умеешь писать web приложения.
</h4>

<p class="margined">
  Потому что я более симпатизирую разработке игр, чем написанию сайтиков. Поэтому, пока я ещё могу,
  я решил попробовать найти работу в этом направлении. Если уж совсем не удастся найти работу, или я в ней
  разачаруюсь, вернусь обратно к вебу.
</p>
<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Кем ты видишь себя в нашей компании через пять лет?
</h4>

<p class="margined">
  Могу сказать лишь кем не вижу - Junior'ом'.
</p>

<br/>
<h4 style="text-decoration: underline" class="text-colorized margined">
  В: Уровень знания английского:
</h4>

<p class="margined">
  Intermediate. Получил я его путём прохождения специальных вузовских курсов.
</p>
<p class="margined">
  Что же касается меня, то я могу свободно читать техническую литературу на английском языке.
  А также понимать речь собеседника. Но вот сам я могу запинаться во время речи, и неправильно использовать
  времена.
</p>
<br/>