<br/>
<div id="carousel-example-generic" style="background-image: url('https://www.dropbox.com/s/7hqpwuh4hnczxz5/89809b15daf9.png?dl=1'); background-size: 100% 100%; background-color: white;, margin-top: 15px;" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to  lario_game_index_path do %>
        <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631131/v631131243/ec6e/osSNWhT_4_E.jpg"alt="Die Lario, DIE">
      <% end %>
      <div class="carousel-caption">
        <h3 class="shadowed" style="font-size: 40px;"> Die Lario, DIE!</h3>
        <h4 class="shadowed"><%= t(:agains_dest) %></h4>
      </div>
    </div>
    <div class="item">
      <%= link_to scp_game_index_path do %>
        <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631131/v631131243/ec76/_wFHW9X0FJw.jpg" alt="Gods forsaken place">
      <% end %>
      <div class="carousel-caption">
        <h3><%= t(:scp_gods) %></h3>
        <h4><%= t(:fears) %></h4>
      </div>
    </div>
    <div class="item" style="max-height: 1000px;">
      <%= link_to other_projects_path do %>
        <img class="rounded centered_image" style="width: 700px; height: 500px;" src="https://pp.vk.me/c631131/v631131243/ec66/nmOYydbyZUM.jpg" >
      <% end %>
      <div class="carousel-caption">
        <h3><%= t(:stuff) %></h3>
        <h4><%= t(:projects) %></h4>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="sr-only">Next</span>
  </a>
</div>