
<!--

<% if user_signed_in? %>
  <%= render partial: "layouts/loadSong" %>
  <br/>
  <% Song.all.each do |song| %>
    <hr/>
    <audio controls>
      <source src='<%= song.source_url %>' type="audio/ogg">
      <%= t(:your_browser_doesnt_support_audio) %>
    </audio>
    <%= "(#{song.likes.all.sum :value})" %>
    <%= link_to "+", new_like_path(:value => 1, :song_id => song.id) %>
    <%= link_to "-", new_like_path(:value => -1, :song_id => song.id) %>
    <a href="http://vk.com/search?c[q]=<%= song.name %>&c[section]=audio "><%= t(:find_on_vk) %></a>
    <%= link_to "#{t(:delete)}", song_path(song), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %>
  <% end %>
<% else %>
  <h1 style="text-align: center;"><%= t(:please_log_in) %></h1>
<% end %>
-->
<%= render partial: "carousel" %>
<br/>
<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:important) %>
</h3>
<br/>
<img style="display: block; margin-left: auto; margin-right: auto;"  src="https://www.dropbox.com/s/y48ak7bfs89ewvx/Swords.png?dl=1" alt="hr-line" width="472" height="62">
<h4 class="text-colorized margined" style="font-size: 25px; font-style: italic; text-decoration: underline;">
  <%= t(:about_me) %>
</h4>

<div style="display: inline-block">
    <figure class="l left">
      <img class="rounded" style="width: 200px; height: 300px;" src="https://pp.vk.me/c411129/v411129243/85da/cJygD2g2onc.jpg" alt="Sarcasm">
    </figure>
    <p> <%= t(:introduce) %></p>
      <p>
        <%= t(:call) %>
    </p>
    <p> <%= t(:twenty) %> <i style="text-decoration: line-through;"><%= t(:parasite) %></i>
      <%= t(:student) %> <%= link_to t(:here), about_me_index_path %>.</p>
</div>
<br/>


<h4 class="text-colorized" style="font-size: 25px; font-style: italic; text-decoration: underline; text-align: right !important;">
  <%= t(:about_platformer) %>
</h4>
<img  style="display: block; margin-left: auto; margin-right: auto;" src="https://www.dropbox.com/s/osquh7a5zhki0bn/waka.png?dl=1" alt="hr-line" width="442" height="35">
<div style="display: inline-block">
  <figure class="r right">
    <%= link_to  lario_game_index_path do %>
        <img class="rounded" style="width: 300px; height: 150px;" src="https://pp.vk.me/c633126/v633126243/afdc/NgIWQwJCBfQ.jpg" alt="Lario Main Menu logo">
    <% end %>
  </figure>
  <p class=" margined">
    <%= t(:dont_hear) %>
  </p>
  <p class=" margined">
    <%= t(:platformer_game_story) %>
  </p>
  <p class=" margined"><%= t(:platformer_credits) %></p>
  <p class=" margined"><%= t(:platformer_read_more) %> <%= link_to t(:here), lario_game_index_path %>.</p>
</div>

<h4 class="text-colorized margined" style="font-size: 25px; font-style: italic; text-decoration: underline;">
  <%= t(:horror_about) %>
</h4>
<img  style="display: block; margin-left: auto; margin-right: auto;" src="https://www.dropbox.com/s/act6nlvj5pdzcpy/Line.png?dl=1" alt="hr-line" width="700" height="80">
<div style="display: inline-block">
  <figure class="l left">
    <img class="rounded" style="width: 200px; height: 150px;" src="https://pp.vk.me/c633126/v633126243/b013/US2Y3YIBG7s.jpg" alt="Face">
  </figure>
  <p>
    <%= t(:horror_this) %>
  </p>
  <p>
    <%= t(:horror_influence) %>
    <p>
      <%= t(:horrors_bad) %>
    </p>
    <%= t(:horror_learn_more) %> <%= link_to t(:here_1), about_me_index_path %>.
  </p>
</div>

<br/>
<h4 class="text-colorized" style="text-align: center !important;font-size: 25px; font-style: italic; text-decoration: underline;">
  <%= t(:other_projects) %>
</h4>
<img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.dropbox.com/s/8zuak3bzeu40n28/Code.png?dl=1" width="750" height="150">
<div style="display: inline-block; margin-left: 35%; text-align: center;">
  <figure class="r right">
    <img class="rounded" style="width: 200px; height: 150px;" src="https://pp.vk.me/c633126/v633126243/af17/Drp8q7Oob2E.jpg" alt="Upstge">
  </figure>
  <figure class="r right">
    <img class="rounded" style="width: 200px; height: 150px;" src="https://pp.vk.me/c627121/v627121243/2f8fa/kyw_2xY95Mg.jpg" alt="Neh">
  </figure>
</div>
<p style="text-align: center;">
  <%= link_to t(:here_2), about_me_index_path %> <%= t(:worked_with) %>
</p>
<br/>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  <%= t(:snake_game) %>
</h3>

<h4 class="text-colorized" style="text-align: center; font-size: 25px;">
  <%= t(:library) %>
</h4>
<h4 class="text-colorized" style="text-align: center; font-size: 25px;">
  (<%= t(:use) %> <i style='text-decoration: line-through;'><%= t(:force) %></i> <%= t(:arrow) %>)
</h4>

<div id="field" style="width:1000px; height: 1000px; background-color: gray; margin-left: auto; margin-right: auto;">
  <div id="snake0" style="position:absolute; width:10px; height: 10px; background-color:red;"></div>
  <div id="fruit" style="position:absolute; width:10px; height: 10px; background-color:darkblue;"></div>
</div>
</div>
<script>
    $( document ).ready(function() {
        play();
    });
</script>
<br/>