
<!--

<% if user_signed_in? %>
  <%= render partial: "layouts/loadSong" %>
  <br/>
  <% Song.all.each do |song| %>
    <hr/>
    <audio controls>
      <source src='<%= song.source_url %>' type="audio/ogg">
      <%= t(:your_browser_doesnt_support_audio) %>
    </audio>
    <%= "(#{song.likes.all.sum :value})" %>
    <%= link_to "+", new_like_path(:value => 1, :song_id => song.id) %>
    <%= link_to "-", new_like_path(:value => -1, :song_id => song.id) %>
    <a href="http://vk.com/search?c[q]=<%= song.name %>&c[section]=audio "><%= t(:find_on_vk) %></a>
    <%= link_to "#{t(:delete)}", song_path(song), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %>
  <% end %>
<% else %>
  <h1 style="text-align: center;"><%= t(:please_log_in) %></h1>
<% end %>
-->
<br/>
<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  Коротко о главном:
</h3>
<br/>
<h4 class="text-colorized" style="font-size: 25px; font-style: italic; text-decoration: underline;">
  Обо мне, разумеется:
</h4>

<div style="display: inline-block">
    <figure class="l left">
      <img style="width: 200px; height: 300px;" src="https://pp.vk.me/c411129/v411129243/85da/cJygD2g2onc.jpg" alt="Sarcasm">
    </figure>
    <p>  Разрешите представиться, Емельянов Игнат. Некоторые культурные люди люди обращаются ко мне по имени моего отца - Геннадьевич,
    другие же считают, что я ещё не дорос до Геннадьевича, но есть ещё и те, что не упускают возможность напомнить мне о последнем. Чтобы не усугублять путаницу, зовите меня просто - Игнат. Мне будет приятно, а
    вам придётся меньше запоминать.
    </p>
    <p>Мне 21 год, и на сегодняшний день я <i style="text-decoration: line-through;">тунеядец</i> студент пятого кура Белоруского
    государственного университета Информатики и Радиоэлекторники факультета Компьютерных Систем и Сетей, специальности "Информатика и
    технологии программирования".
    Если вас ещё не тошнит от меня, подробнее обо мне вы можете узнать <%= link_to t(:here), about_me_index_path %>.</p>
</div>
<br/>
<h4 class="text-colorized" style="font-size: 25px; font-style: italic; text-decoration: underline; text-align: right !important;">
  О популярном платформере:
</h4>
<div style="display: inline-block">
  <figure class="r right">
    <img style="width: 200px; height: 100px;" src="https://pp.vk.me/c633126/v633126243/afdc/NgIWQwJCBfQ.jpg" alt="Lario Main Menu logo">
  </figure>
  <p>
    Как, вы о нём ещё не слышали? Не удивительно, ведь он не популярный. Я просто решил использовать смелый заголовок.
  </p>
  <p>
    Данная игра была разработана в качестве курсового проекта по дисциплине "Основы ООП" на втором курсе.
    После успешной защиты она была выложена в сеть на сайте small-games.info, где скорее всего лежит и по сегодняшний день.
    К моему удивлению, по ней было сделано немало летсплеев. И буквально около года назад мой знакомый попросил меня показать
    ему свою игру, и первый ролик на ютубе по моей игре собрал свыше миллиона просмотров! Эх, жаль имени в титрах не указал.
  </p>
  <p>Впринципе, титры я тоже не делал.</p>
  <p>Узнать о ней побольше вы можете <%= link_to t(:here), about_me_index_path %>.</p>
</div>

<h4 class="text-colorized" style="font-size: 25px; font-style: italic; text-decoration: underline;">
  О детской любви к хоррорам:
</h4>

<div style="display: inline-block">
  <figure class="l left">
    <img style="width: 200px; height: 150px;" src="https://pp.vk.me/c633126/v633126243/b013/US2Y3YIBG7s.jpg" alt="Face">
  </figure>
  <p>
    Данная игра - "SCP XXXi - богом забытое место" была разработана летом 2012ого года, между первым и вторым курсом.
  </p>
  <p>
    Разрабатывалась она под влиянием выходивших тогда хорроров, таких как SCP и Slenderman.
    В отличии от большинства игр данного жанра в моей был хоть какой, но сюжет.
    Если хотите узнать о ней побольше, то вам <%= link_to t(:here_1), about_me_index_path %>.
  </p>
</div>

<h4 class="text-colorized" style="font-size: 25px; font-style: italic; text-decoration: underline;">
  О неумении структурировать
</h4>

<div style="display: inline-block">
  <figure class="l left">
    <img style="width: 200px; height: 150px;" src="https://pp.vk.me/c633126/v633126243/af17/Drp8q7Oob2E.jpg" alt="Upstge">
  </figure>
  <p>
    <%= link_to t(:here_2), about_me_index_path %> я помещу ещё немного информации о проектах, над которыми мне приходилось работать.
  </p>
</div>
<br/>

<h3 class="text-colorized" style="font-size: 35px; text-align: center;">
  Ну, и конечно же, змейка:
</h3>

<h4 class="text-colorized" style="font-size: 25px;">
  Ведь если бы мы хотели много читать, мы скорее всего пошли бы в библиотеку, не так ли?
</h4>

<div id="field" style="width:1000px; height: 1000px; background-color: #5cb85c; margin-left: auto; margin-right: auto;">
  <div id="snake0" style="position:absolute; width:10px; height: 10px; background-color:red;"></div>
  <div id="fruit" style="position:absolute; width:10px; height: 10px; background-color:darkblue;"></div>
</div>
</div>
<script>
    $( document ).ready(function() {
        play();
    });
</script>
<br/>