<%= form_for :user, url: login_user_index_path, remote: true do |f| %>

    <div class="field">
      <%= f.label t(:email) %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true, style:"width:100%;", :placeholder => t(:email)  %>
    </div>

    <div class="field">
      <%= f.label t(:password) %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "off", style:"width:100%;", :placeholder => t(:password)  %>
    </div>

    <br/>
    <button class="btn btn-primary" onclick="$('#loadingLogIn').show();" style="width: 100%;">
      <%= t(:login) %>
    </button>

<% end %>