<a data-toggle="collapse" data-target="#collapseRecoverPassword">
  <%= t(:forget_password) %>
</a>

<div id="collapseRecoverPassword" class="collapse">

  <br/>
  <%= form_for :user, url: reset_password_user_index_path, remote: true do |f| %>
    <div id="resetResults"></div>
    <div class="field">
      <b><%= t(:email_recovery) %></b><br />
      <%= f.email_field :email, class: 'form-control',  style:"width:100%;", :placeholder => t(:email) %>
    </div>
    <br/>
    <button class="btn btn-primary" onclick="$('#loadingLogIn').show();">
      <%= t(:send_reset_instructions) %>
    </button>
  <% end %>

</div>