<a data-toggle="modal" data-target="#signUpModal"><%= t(:signUp) %></a>

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" style="text-align: center;"><%= t(:signUp) %></h2>
      </div>
      <div class="modal-body">
        <h3><%= t(:i) %> <b><%= t(:glad) %> </b><%= t(:than_you_chose) %></h3>
        <hr/>
        <div id="registrationErrorsArea", style="display: none;">
          <h3 class="error_label"><%= t(:registration_errors) %></h3>
          <div class="error_div" id="registrationErrors">
          </div>
          <hr>
        </div>
        <h3><%= t(:fill_fields) %></h3>
        <%= render partial: "layouts/signUpForm" %>
      </div>
      <img id="loadingCreate" src="<%= image_url "loading.gif" %>", style="margin-left:32%; display:none;" />
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:close) %></button>
      </div>
    </div>
  </div>
</div>