<!DOCTYPE html>
<html>

  <head>
    <title>The other Stuff</title>
    <link rel="shortcut icon" href="https://www.dropbox.com/s/np4ih3f1a6h7pf8/e7cd871b36a942bbe6445143ebb6268f.ico%20%281%29.png?dl=1" type="image/png">
    <%= render partial: "layouts/stylesAndScripts" %>
  </head>

  <body class="backgrounder">

    <%= render partial: "layouts/navbar" %>

    <div>
      <div class="curved-block">
        <p class="citate shadowed" style="text-align: center;"><%= t(:profile_collection) %></p>
      </div>
      <div class="secondary-curved-block">
        <p class="visit-card shadowed"><%= t(:lone_site) %></p>
      </div>
      <%= yield %>
      <div class="top-secondary-curved-block">
        <p class="visit-card shadowed" style="margin-right: 50px;"><%= t(:contact) %></p>
      </div>
      <div class="top-curved-block" style="height: 100%;">
        <p class="citate shadowed" style="text-align: center;"><%= t(:contact_info_phone) %></p>
        <p class="citate shadowed" style="text-align: center;"><%= t(:contact_info_skype) %></p>
        <p class="citate shadowed" style="text-align: center;"><%= t(:contact_infoe_email) %></p>
      </div>
    </div>

  </body>

</html>
